#video {
    width: 300px;
}

#area {
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

#cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: blue;
}
