#area {
    position: relative;
    width: 500px;
    height: 500px;
    border: 2px solid black;
}

#cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: blue;
}
